// COLORS
$main-color: #fffbf7; //main
$yellow-color: #d1c143;
$green-color: #21432a; //30% opacity for border
$beige-color: #f6ede3; //section and text
$gray-color: #f2f6f6; //line
$orange-color: #feb86a; //text and icons
$light-orange-color: #ffefdf; //text
$brown-color: #2c1600; //text
$light-brown-color: #796e63; //text
$light-grey-color: #f7ede3; //bg for input
$error-red-color: #f41f1f; //form
// SETUP
$scroll-width: 10px;
$number-of-products: 10;
