@import "variables";

.footer {
  position: relative;
  width: 100%;
  min-height: 800px;
  overflow: hidden;
  @media (max-width: $mobile) {
    min-height: 700px;
  }
  &__title {
    position: absolute;
    width: 31.75vw;
    height: auto;
    top: 38%;
    left: 51%;
    line-height: 110%;
    color: $light-grey-color;
    z-index: 99999;
    @media (max-width: $tablet) {
      top: 10%;
      left: 10%;
    }
  }
  .mobileApp {
    position: absolute;
    width: 527.9px;
    height: auto;
    left: 21.278vw;
    top: 104.16px;
    z-index: 91;
    @media (max-width: $laptop) {
      left: 20px;
    }
    @media (max-width: $tablet) {
      left: 1vw;
      width: 98vw;
      max-width: 525px;
      top: auto;
      bottom: 0;
    }
  }
  .glasses {
    width: 5.31vw;
    height: 9.178vh;
    left: 27.563vw;
    top: 15.731vh;
  }
  .printer {
    width: 3.949vw;
    height: 8.359vh;
    left: 9.24vw;
    top: 37.891vh;
  }
  .shirt {
    width: 5.131vw;
    height: 9.819vh;
    left: 16.59vw;
    top: 69.332vh;
  }
  .plant {
    width: 5.654vw;
    height: 12.487vh;
    left: 72.55vw;
    top: 8.607vh;
    z-index: -1;
  }
  .chair {
    width: 4.764vw;
    height: 8.111vh;
    left: 44.25vw;
    top: 73.072vh;
  }
  .pad {
    width: 4.974vw;
    height: 9.178vh;
    left: 81.9vw;
    top: 62.287vh;
  }
  .copyright {
    display: flex;
    position: absolute;
    left: 67.95vw;
    top: 731.88px;
    gap: 8px;
    align-items: flex-end;
    @media (max-width: $mobile) {
      left: auto;
      top: auto;
      right: 1px;
      bottom: 20px;
      gap: 3px;
    }
    p {
      width: 92px;
      font-size: 16px;
      color: $light-brown-color;
      transform: translateY(-1px);
      @media (max-width: $mobile) {
        font-size: 12px;
        width: auto;
      }
    }

    &::after {
      content: "";
      background-image: url("../public/images/footer/gco-footer-logo.svg");
      background-size: cover;
      height: 32.15px;
      width: 22px;
      @media (max-width: $mobile) {
        height: 22.15px;
        width: 12px;
      }
    }
  }
}
