@import "variables";
@import "scroll";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: $green-color;
  overflow-x: hidden;
}
#__next {
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 78px;
  @media (max-width: $laptop) {
    font-size: 50px;
  }
  @media (max-width: $tablet) {
    font-size: 40px;
  }
}
h2 {
  font-weight: 700;
  font-size: 36px;
  @media (max-width: $laptop) {
    font-size: 30px;
  }
  @media (max-width: $large-tablet) {
    font-size: 26px;
  }
}
h3 {
  font-weight: 700;
  font-size: 24px;
  @media (max-width: $laptop) {
    font-size: 20px;
  }
}
p,
span,
input {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  @media (max-width: $laptop) {
    font-size: 13px;
  }
}

.btn {
  font-family: "DM Sans", sans-serif;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  @media (max-width: $laptop) {
    font-size: 14px;
  }
}

.icon {
  position: absolute;
  @media (max-width: $laptop) {
    transform: scale(1.7);
  }
  @media (max-width: $tablet) {
    transform: scale(3);
  }
  @media (max-width: $mobile) {
    transform: scale(4);
  }
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 58.24vw;
  height: auto;
  margin: 0 auto;
  z-index: 100;
}

.swiper {
  width: 100%;
  height: 330px;
  overflow: visible !important;
}

.swiper-slide {
  display: grid;
  grid-template-rows: 180px 1fr 68.16px;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08),
    0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02),
    0px 3px 4px rgba(44, 22, 0, 0.04);
  border-radius: 20px;
  color: $light-brown-color;
  transition: 0.3s;
  .iconHeart {
    position: absolute;
    left: 84.85%;
    right: 3.79%;
    top: 3.03%;
    bottom: 87.88%;
    border-radius: 100%;
    background: #ffffff;
    z-index: 9999999;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url("../public/images/section/heart.svg");
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px;
  filter: contrast(1.1);
}
.swiper-slide p {
  width: 220px;
  height: auto;
  margin: auto;
  padding: 20.05px 0 9.64px 0;
  font-size: 16px;
  border-bottom: 1px solid $gray-color;
}
.wrapProfile {
  display: flex;
  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 22.66px;
  justify-content: space-between;
  align-items: center;
  &::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-size: cover;
  }
  &.first::before {
    background-image: url("../public/images/section/profile-image-1.svg");
  }
  &.second::before {
    background-image: url("../public/images/section/profile-image-2.svg");
  }
  &.third::before {
    background-image: url("../public/images/section/profile-image-3.svg");
  }
  &.fourth::before {
    background-image: url("../public/images/section/profile-image-4.svg");
  }
  &.fifth::before {
    background-image: url("../public/images/section/pexels-motional-studio-1081685.jpg");
    //Photo by 3Motional Studio: https://www.pexels.com/photo/fashion-photography-of-woman-hands-on-chin-with-glitter-makeup-1081685/
  }
  &.sixth::before {
    background-image: url("../public/images/section/pexels-alix-lee-8204902.jpg");
    //Photo by Alix  Lee: https://www.pexels.com/photo/side-view-of-a-golden-buddha-statue-8204902/
  }
  &.seventh::before {
    background-image: url("../public/images/section/pexels-pixabay-415829.jpg");
    //Photo by Pixabay: https://www.pexels.com/photo/woman-wearing-black-spaghetti-strap-top-415829/
  }

  span::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 10px;
    background-size: cover;
  }
  .thumbup {
    &::before {
      content: "";
      background-image: url("../public/images/section/icon_thumbup.svg");
    }
  }
  .thumbdown {
    margin-left: 10px;
    &::before {
      background-image: url("../public/images/section/icon_thumbdown.svg");
    }
  }
}

.swiper-button-prev {
  position: relative;
  left: calc(692.92px - 58.93px) !important;
  top: calc(330px + 21px + 40.11px) !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  background-image: url("../public/images/section/buttonsArrow/left/Property1=default.svg");
  background-size: cover;
  transition: $transition-value;
  @media (max-width: $three-products) {
    left: calc(346px) !important;
  }
  @media (max-width: $two-products) {
    left: calc(58px) !important;
  }
  @media (max-width: $tablet) {
    left: 77px !important;
  }
  &:hover {
    background-color: $green-color;
    background-image: url("../public/images/section/buttonsArrow/left/Property1=hover.svg");
  }
  &::after {
    display: none;
  }
}
.swiper-button-next {
  position: relative;
  right: calc(396px - 12px) !important;
  top: calc(330px + 21px + 40.11px) !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  background-image: url("../public/images/section/buttonsArrow/right/Property1=default-1.svg");
  background-size: cover;
  transition: $transition-value;
  @media (max-width: $one-product) {
    left: 118px !important;
  }
  @media (max-width: $tablet) {
    left: 137px !important;
  }
  &:hover {
    background-color: $green-color;
    background-image: url("../public/images/section/buttonsArrow/right/Property1=hover-1.svg");
  }
  &::after {
    display: none;
  }
}

.swiper-button-disabled:hover {
  display: none;
}
