@import "variables";

.header {
  width: 100%;
  height: 106.725vh;
  min-height: 810px;
  background-color: $yellow-color;
  @media (max-width: 1200px) {
    .wrapper {
      transform: translateY(20%) scale(1.4);
    }
  }
  &__title {
    width: 9vw;
    height: 5.336vh;
    margin-top: 44px;
  }
  &__logo {
    position: relative;
    left: 13.51vw;
    width: 20.64vw;
    height: auto;
    margin-top: 15px;
  }
  &__main {
    display: flex;
    justify-content: space-between;

    .btn {
      margin-top: 39px;
      border: 1px solid #fff;
      background-color: #fff;
      color: $green-color;
      padding: 15px 23px 16px 23px;
      letter-spacing: -0.1px;
      transition: border backgorund-color color 0.2s;
      @media (max-width: 1200px) {
        transform: scale(0.8);
      }
      &:hover {
        border: 1px solid $green-color;
        background-color: $green-color;
        color: $orange-color;
      }
    }
  }
  &__mainGreenBg {
    position: relative;
    left: 0.44vw;
    top: 0;
    width: 27.37vw;
    height: 27.37vw;
    border-radius: 300px;
    border-top-left-radius: 0;
    background-color: $green-color;
    transform: translateY(-0.15%);
    .leaf {
      position: absolute;
      top: 1.605vh;
      left: 0.99vw;
      width: 10.54vw;
      height: auto !important;
      opacity: 92%;
      z-index: 98;
    }
    .woman {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 38.875vw;
      height: auto;
      transform: translate(-10.2%, 0.25%);
      z-index: 99;
    }
  }
  &__mainTitle {
    width: 29vw;
    height: auto;
    margin-left: -1%;
    margin-top: 63.47px;
    line-height: 110%;
    color: $brown-color;
    @media (max-width: 1900px) {
      font-size: 70px;
    }
    @media (max-width: 1700px) {
      font-size: 60px;
    }
    @media (max-width: 1500px) {
      font-size: 50px;
    }
    @media (max-width: 1200px) {
      font-size: 36px;
    }
  }
  .leavesLeft {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;
    &__blur {
      width: 8.482vw;
      height: auto;
    }
    &__lightBig {
      position: absolute;
      left: 3.96vw;
      top: 7.044vh;
      width: 3.141vw;
      height: 4.162vh;
    }
    &__lightSm {
      position: absolute;
      left: 9.84vw;
      top: 25.08vh;
      width: 1.5vw;
      height: 3.807vh;
      transform: rotate(3.85deg);
    }
    &__dark {
      position: absolute;
      left: 3.33vw;
      top: 23.586vh;
      width: 1.414vw;
      height: 5.55vh;
    }
  }
  .leavesRight {
    position: absolute;
    right: -0.524vw;
    top: 58.603vh;
    width: 10.942vw;
    height: 44.61vh;
    z-index: 90;
  }
  .leafBottom {
    position: absolute;
    left: 8.42vw;
    bottom: -6.7vh;
    width: 16.545vw;
    height: auto;
    z-index: 90;
  }
  .leafTop {
    position: absolute;
    left: 72.67vw;
    top: 0;
    width: 24.084vw;
    height: auto;
    z-index: 90;
  }
  .glasses {
    left: 24.49vw;
    top: 24.299vh;
    width: 5.31vw;
    height: 9.178vh;
  }
  .printer {
    left: 5.69vw;
    top: 66.009vh;
    width: 3.949vw;
    height: 8.359vh;
  }
  .shirt {
    left: 38.25vw;
    top: 69.215vh;
    width: 5.101vw;
    height: 9.712vh;
  }
  .plant {
    left: 56.74vw;
    top: 19.758vh;
    width: 5.728vw;
    height: 12.7vh;
  }
  .earphones {
    left: 73.87vw;
    top: 15.824vh;
    width: 4.263vw;
    height: 9.178vh;
  }
  .chair {
    left: 45.96vw;
    top: 88.161vh;
    width: 4.682vw;
    height: 8.111vh;
  }
  .pad {
    left: 74.55vw;
    top: 90.118vh;
    width: 4.95vw;
    height: 9.178vh;
  }
}
