@import "variables";

.section {
  position: relative;
  width: 100%;
  min-height: 977.2px;
  background-color: $beige-color;
  .wrapper {
    position: absolute;
    right: 12px;
    top: 110.4px;
    display: flex;
    flex-direction: row;
    gap: 58.93px;
    width: 1512px;
    max-width: 1512px;
    margin: 0;
    @media (max-width: $three-products) {
      width: calc(1512px - 288px);
    }
    @media (max-width: $two-products) {
      width: calc(1512px - 576px);
    }
    @media (max-width: $one-product) {
      width: calc(1512px - 864px);
    }
    @media (max-width: $tablet) {
      width: 100%;
      right: 0;
      justify-content: center;
    }
    @media (max-width: $large-mobile) {
      top: 90px;
    }
    @media (max-width: $mobile) {
      top: 30px;
    }
  }
  &__greenBg {
    display: block;
    position: relative;
    top: -16px;
    width: 325.07px;
    height: auto;
    min-height: 500px;
    @media (max-width: $tablet) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      position: absolute;
      font-size: 36px;
      left: 55.73px;
      top: 95.19px;
      width: 234.3px;
      height: 137.74px;
      line-height: 140%;
      color: $light-orange-color;
    }
  }
  .slider {
    width: 1128px;
    height: calc(330px + 50px + 41px);
    z-index: 99999;
    overflow-x: hidden;
    @media (max-width: $three-products) {
      width: calc(1128px - 288px);
    }
    @media (max-width: $two-products) {
      width: calc(1128px - 576px);
    }
    @media (max-width: $one-product) {
      width: calc(1128px - 864px);
    }
  }
  .newsletter {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    width: 49.005vw;
    min-width: 936px;
    height: 450px;
    margin: 0 auto -60px auto;
    box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08),
      0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02),
      0px 3px 4px rgba(44, 22, 0, 0.04);
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    transform: translateX(-50%);
    @media (max-width: $laptop) {
      min-width: 760px;
      height: 400px;
    }
    @media (max-width: $tablet) {
      min-width: auto;
      width: 99vw;
      height: 460px;
    }
    @media (max-width: $large-mobile) {
      height: 500px;
    }
    @media (max-width: $mobile) {
      height: 560px;
    }

    &__img {
      position: absolute;
      left: -2px;
      top: 84.88px;
      width: 173.89px;
      height: 275.22px;
      @media (max-width: $laptop) {
        top: 55px;
        width: 140px;
      }
      @media (max-width: $tablet) {
        width: 173.89px;
        opacity: 0.2;
      }
    }
    &__title {
      margin: 54.2px auto 10px;
      line-height: 140%;
      text-align: center;
      color: $brown-color;
    }
    &__description {
      margin-bottom: 45.9px;
      width: 60%;
      font-size: 18px;
      text-align: center;
      color: $light-brown-color;
      @media (max-width: $laptop) {
        font-size: 15px;
      }
      @media (max-width: $tablet) {
        width: 396px;
      }
      @media (max-width: $large-mobile) {
        width: 80%;
      }
    }
  }
  .leavesLeft {
    position: absolute;
    left: 0;
    top: -5.742vh;
    width: 11.937vw;
    height: auto;
    z-index: 90;
  }
  .leavesRight {
    position: absolute;
    right: -14px;
    bottom: -7.2vh;
    width: 11.937vw;
    height: auto;
    z-index: 90;
    transform: scaleX(0.968);
  }
}
